.print-format {
    font-size: 13px;
    background: white;
}

.print-heading {
    border-bottom: 1px solid #f4f5f6;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.print-heading h2 {
    font-size: 24px;
}

.print-heading h2 div {
    font-weight: 600;
}

.print-heading small {
    font-size: 13px !important;
    font-weight: normal;
    line-height: 2.5;
    color: #4c5a67;
}

.print-format .letter-head {
    margin-bottom: 30px;
}

.print-format label {
    font-weight: normal;
    font-size: 13px;
    color: #4C5A67;
    margin-bottom: 0;
}

.print-format .data-field {
    margin-top: 0;
    margin-bottom: 0;
}

.print-format .value {
    color: #192734;
    line-height: 1.8;
}

.print-format .section-break:not(:last-child) {
    margin-bottom: 0;
}

.print-format .row:not(.section-break) {
    line-height: 1.6;
    margin-top: 15px !important;
}

.print-format .important .value {
    font-size: 13px;
    font-weight: 600;
}

.print-format th {
    color: #74808b;
    font-weight: normal;
    border-bottom-width: 1px !important;
}

.print-format .table-bordered td, .print-format .table-bordered th {
    border: 1px solid #f4f5f6;
}

.print-format .table-bordered {
    border: 1px solid #f4f5f6;
}

.print-format td, .print-format th {
    padding: 10px !important;
}

.print-format .primary.compact-item {
    font-weight: normal;
}

.print-format table td .value {
    font-size: 12px;
    line-height: 1.8;
}
.print-format table tr td.table-sr{
	line-height: 1.8;
	font-size: 12px;
}
