<div style="display: flex; justify-content: flex-end">
	<button class="btn btn-secondary mb-3" onclick="printTable()">🖨 Print</button>
</div>

<div id="print-area">
	<!-- <div style="display: flex; justify-content: center; align-items: center"> -->
	<h4 style="display: flex; justify-content: center; align-items: center">GLASCUTR LIMITED</h4>

	<div style="display: flex; justify-content: center; align-items: center">
		Regent Red Wood, House 3/A, Unit B4, Road 2, Gulshan-1, Dhaka-1212, Bangladesh
	</div>

	<!--<strong style="display: flex; justify-content: center; align-items: center" class="mb-3"-->
	<!--  >Transaction List</strong>-->

	<!-- Title -->
	<div class="text-center my-4">
		<h5 class="d-inline-block border-bottom border-3 pb-1 fw-bold text-dark">
			Monthly Trial Balance
		</h5>
	</div>

	{% if from_date and to_date %}
	<div class="text-center my-4">
		<h5 class="d-inline-block border-bottom border-3 pb-1 fw-bold text-dark">
			{{ selected_month }} {{ selected_year }}
		</h5>
	</div>
	{% endif %}

	<div class="container mt-5 p-4 no-print">
		<form>
			<div class="form-row">
				<!-- Month -->
				<div class="form-group col-md-6">
					<label for="month">Month</label>
					<select class="form-control" id="month" name="month">
						<option value="">Select Month</option>
						<option>January</option>
						<option>February</option>
						<option>March</option>
						<option>April</option>
						<option>May</option>
						<option>June</option>
						<option>July</option>
						<option>August</option>
						<option>September</option>
						<option>October</option>
						<option>November</option>
						<option>December</option>
					</select>
				</div>

				<div class="form-group col-md-6">
					<label for="year">year</label>
					<input
						type="number"
						class="form-control"
						id="year"
						name="year"
						placeholder="e.g. 2026"
						value="2024"
					/>
				</div>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

	{% if from_date and to_date %}
	<div class="container mb-4">
		<div class="row g-4">
			<div class="col-md-6">
				<div class="card shadow border-0 h-100">
					<div class="card-header bg-warning bg-gradient text-white">
						<h5 class="mb-0 fw-semibold">💳 Debit</h5>
					</div>

					<div class="card-body">
						<table
							class="table table-sm table-striped table-hover table-bordered mb-0"
						>
							<thead class="table-dark">
								<tr class="text-center">
									<th style="width: 50px">SL</th>
									<th>Particulars</th>
									<th class="text-end" style="width: 160px">Amount (Tk)</th>
								</tr>
							</thead>

							<tbody>
								{% for ah in this_month_accounts_head_wise_debit_list %}
								<tr>
									<td class="text-center">{{ loop.index }}</td>
									<td>{{ ah.name1 }}</td>
									<td class="text-end" style="text-align: right !important">
										{{ "{:,.2f}".format(ah.total_amount) }}
									</td>
								</tr>
								{% endfor %} {% set sl = this_month_accounts_head_wise_debit_list |
								length + 1 %}
								<tr>
									<td class="text-center">{{ sl }}</td>
									<td>
										Cash in Hand ({% if fy_doc.year_end_date %} {{
										fy_doc.year_end_date.strftime("%d-%m-%Y") }} {% endif %})
									</td>
									<td class="text-end" style="text-align: right !important">
										{{ "{:,.2f}".format(month_last_day_CashInHand_debits) }}
									</td>
								</tr>

								{% set sl = sl + 1 %}
								<tr>
									<td class="text-center">{{ sl }}</td>
									<td>
										Cash at Bank ({% if fy_doc.year_end_date %} {{
										fy_doc.year_end_date.strftime("%d-%m-%Y") }} {% endif %})
									</td>
									<td class="text-end" style="text-align: right !important">
										{{ "{:,.2f}".format(month_last_day_CashAtBank_debits) }}
									</td>
								</tr>

								<!-- Total -->
								<tr class="fw-bold table-warning">
									<td colspan="2" class="text-center">Total</td>
									<td
										class="text-end fw-bold"
										style="text-align: right !important"
									>
										{{ "{:,.2f}".format(total_debit) }}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<!-- Credit -->
			<div class="col-md-6">
				<div class="card shadow border-0 h-100">
					<div class="card-header bg-info bg-gradient text-white">
						<h5 class="mb-0 fw-semibold">💰 Credit</h5>
					</div>

					<div class="card-body">
						<table
							class="table table-sm table-striped table-hover table-bordered mb-0"
						>
							<thead class="table-dark">
								<tr class="text-center">
									<th style="width: 50px">SL</th>
									<th>Particulars</th>
									<th class="text-end" style="width: 160px">Amount (Tk)</th>
								</tr>
							</thead>

							<tbody>
								{% for ah in this_month_accounts_head_wise_credit_list %}
								<tr>
									<td class="text-center">{{ loop.index }}</td>
									{% if ah.name1 == "Cash at Bank" or ah.name1 == "Cash in Hand"
									%}

									<td>
										{{ ah.name1 }} ({% if fy_doc.year_start_date %} {{
										fy_doc.year_start_date.strftime("%d-%m-%Y") }} {% endif %})
									</td>
									{% else %}
									<td>{{ ah.name1 }}</td>

									{% endif %}
									<td class="text-end" style="text-align: right !important">
										{{ "{:,.2f}".format(ah.total_amount) }}
									</td>
								</tr>
								{% endfor %} {% set sl = this_month_accounts_head_wise_credit_list
								| length %} {% if previous_month_porjonto_CashInHand_credit > 0 %}

								<tr>
									<td class="text-center">{{ sl+1 }}</td>
									<td>
										Cash in Hand ({% if fy_doc.year_end_date %} {{
										fy_doc.year_end_date.strftime("%d-%m-%Y") }} {% endif %})
									</td>
									<td class="text-end" style="text-align: right !important">
										{{
										"{:,.2f}".format(previous_month_porjonto_CashInHand_credit)
										}}
									</td>
								</tr>

								{% endif %} {% set sl = sl + 2 %} {% if
								previous_month_porjonto_CashAtBank_credit > 0 %}
								<tr>
									<td class="text-center">{{ sl }}</td>
									<td>
										Cash at Bank ({% if fy_doc.year_end_date %} {{
										fy_doc.year_end_date.strftime("%d-%m-%Y") }} {% endif %})
									</td>
									<td class="text-end" style="text-align: right !important">
										{{
										"{:,.2f}".format(previous_month_porjonto_CashAtBank_credit)
										}}
									</td>
								</tr>

								{% endif %}

								<!-- Total -->
								<tr class="fw-bold table-info">
									<td colspan="2" class="text-center">Total</td>
									<td
										class="text-end fw-bold"
										style="text-align: right !important"
									>
										{{ "{:,.2f}".format(total_credit) }}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
